@import "tailwindcss";
@plugin "./daisyui.js" {
  themes: light --default, dark --prefersdark;
  include: button, card, skeleton;
  logs: false;
}

@layer base {
  button {
    cursor: pointer;
  }

  dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    inset: 0;
    position: fixed;
    width: inherit;
    height: inherit;
    min-height: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    backdrop-filter: blur(.375rem);

    &:not([open]) {
      display: none;
    }
  }
}

@layer components {
  .label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
}

@utility card {
  @apply bg-base-100 shadow-sm;
}
